@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";

@import "./theme.scss";

html { scroll-behavior: smooth; }

// maybe should be removed:
.text {
    max-width: 600px;
    font-size: 1.5em;
    line-height: 1.6;
}

img.soften {
    mix-blend-mode: color-dodge;
}

img.logo-small {
    height: 100px;
}

.rounded-1 {
    border-radius: 30px;
}

.rounded-2 {
    border-radius: 25% 10%;
}

.rounded-3 {
    border-radius: 10% 30% 50% 70%;
}

.rounded-4 {
    border-radius: 10% / 50%;
}

.rounded-5 {
    border-radius: 10px 100px / 120px;
}

.rounded-6 {
    border-radius: 50% 20% / 10% 40%;
}

.rounded-right {
    border-radius: 180px 0 0 180px !important;
}

.rounded-left {
    border-radius: 0 180px 180px 0 !important;
}
